.share{
    width: 100%;
    height: 170px;
    border-radius: 10px;
    /* background-color: green; */ 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.shareRapper{
    padding: 20px ;
}
.shareProfileImage{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 10px;
}
.shareInput{
    border: none;
    width: 80%;
    margin-left: 15px;
}
.shareInput:focus{
    outline: none;
}
.shareHr{
    margin: 20px;
}
.shareBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.shareTop{
    display: flex;
    align-items: center;
}
.shareOption{
    display: flex;
    margin-right: 15px;
    cursor: pointer;
    align-items: center;
}
.shareOptions{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.shareIcon{
    font-size: 18px;
    margin-right: 3px;
}
.shareOptionText{
    font-size: 12px;
    font-weight: 500;
}
.sharebutton{
    border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: green;
    font-weight: 500;
    margin-right: 20px;
    color: white;
    cursor: pointer;
}